@import './config';
@import './header';
@import './landing';
@import './scroll.scss';


.hed {
    opacity: 0;
    filter: blur(20px);
    transition: all 3.5s;
    transition-delay: 1.5s;
}




.heden-r {
    opacity: 0;
    transform: translateX(200%);
    filter: blur(20px);
    transition: all 1.5s;
    transition-delay: 0.5s;
}

.heden-l {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(20px);
    transition: all 1.5s;
    transition-delay: 1s;
}

.heden-e {
    opacity: 0;
    transform: translateY(1000%);
    filter: blur(20px);
    transition: all 1.5s;
    transition-delay: 1.5s;
}


.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
}

.backgraoun {
    position: absolute;
    @include chiled(100%, 100%);
    background-color: $body-color;
    z-index: -100;
    overflow: hidden;

    .fa-react {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 35rem;
        z-index: -1000;
        color: $main-color;
        animation: react 120s infinite alternate;
    }

    .fa-star-of-life {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 35rem;
        z-index: -1000;
        color: $main-color;
        // animation: react 120s infinite alternate;
        display: none;
    }




}

@keyframes react {
    0% {
        transform: rotate(0deg);
        left: 00%;
        top: 0%;
    }

    100% {
        transform: rotate(360deg);
        left: 30%;
        top: 30%;
    }
}